# Stuff that I don't feel the right to have public
/locals

# From packagecontrol.io/docs/syncing
/SublimePackages/Package\ Control.last-run
/SublimePackages/Package\ Control.ca-list
/SublimePackages/Package\ Control.ca-bundle
/SublimePackages/Package\ Control.system-ca-bundle
/SublimePackages/Package\ Control.cache
/SublimePackages/Package\ Control.ca-certs

# https://github.com/wbond/package_control/issues/1153
/SublimePackages/Package\ Control.merged-ca-bundle
/SublimePackages/Package\ Control.user-ca-bundle
/SublimePackages/oscrypto-ca-bundle.crt

.last_successful_test
Brewfile.lock.json
/.vscode/settings.json
/.rspec_status
